---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero/index.astro";
import LogoCloud from "@components/LogoCloud/index.astro";
import InteractiveShowcase from "@components/InteractiveShowcase/InteractiveShowcase.astro";
import FeatureMoneySaving from "@components/FeatureMoneySaving/index.astro";
import Workflow from "@components/Workflow/index.astro";
import Testimonials from "@components/Testimonials/index.astro";
import Pricing from "@components/Pricing/index.astro";
import Faq from "@components/Faq/index.astro";
import ContactForm from "@components/Forms/ContactForm.svelte";
import { getStaticPathsForLocales } from "@lib/getLocalesFromSlugs";

export async function getStaticPaths() {
	return await getStaticPathsForLocales();
}

const { locale = defaultLocale } = Astro.props;
---

<BaseLayout>
	<Hero />
	<LogoCloud />
	<InteractiveShowcase />
	<FeatureMoneySaving />
	<Workflow />
	<Testimonials />
	<Pricing />
	<Faq />

	<div class="mt-24 md:mt-36">
		<div class="site-container flex justify-center">
			<ContactForm client:load />
		</div>
	</div>
</BaseLayout>
